// ======================================== [COLORS]
$color1: #0096c7;
$color2: #007AB8;

// ======================================== [GRADIENT]
$gradient1: linear-gradient(to left top, #8ff8ff, #97f6ff, #a0f4ff, #a8f1ff, #b0efff);
$gradient2: linear-gradient(to left top, #0077b6, #008cc4, #06a1d0, #2ab5db, #48cae4);
$gradient3: linear-gradient(to left top, #0096c7, #14a3cf, #26b0d6, #37bddd, #48cae4);
$gradient-border1: linear-gradient(to right bottom, #ffffff00, rgba(255,255,255,1)) 1;
$gradient-border2: linear-gradient(to left top, #9EF5FF, #23B1D9) 1;